/* CSS Document
 Author Name: Bitpoint
 Creation Date: 01 April 2019
 Description: A default stylesheet for Coffee Landing Page.

------------ TABLE OF CONTENT ------------
- Fonts
- General
- Buttons
- Icons
- Header
- Menu
- Overlay
- Navigation
- Banner block
- Page wrapper
- Gallery
- Products
- Product
- Ingredient
- Brand
- Franchise
- Investments
- Animations style
- Mouse style
- Full page style
- Preloader
- Total media

*/

/*===============================
----- FONTS
=================================*/

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.eot');
  src: local('Avenir Next Cyr Bold Italic'), local('AvenirNextCyr-BoldItalic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Light.eot');
  src: local('Avenir Next Cyr Light'), local('AvenirNextCyr-Light'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Light.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot');
  src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.eot');
  src: local('Avenir Next Cyr Thin Italic'), local('AvenirNextCyr-ThinItalic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Italic.eot');
  src: local('Avenir Next Cyr Italic'), local('AvenirNextCyr-Italic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Italic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.eot');
  src: local('Avenir Next Cyr Heavy Italic'), local('AvenirNextCyr-HeavyItalic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.eot');
  src: local('Avenir Next Cyr Medium Italic'), local('AvenirNextCyr-MediumItalic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.eot');
  src: local('Avenir Next Cyr Light Italic'), local('AvenirNextCyr-LightItalic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot');
  src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.eot');
  src: local('Avenir Next Cyr Ultra Light Italic'), local('AvenirNextCyr-UltraLightIt'), url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot');
  src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.eot');
  src: local('Avenir Next Cyr Ultra Light'), local('AvenirNextCyr-UltraLight'), url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.eot');
  src: local('Avenir Next Cyr Heavy'), local('AvenirNextCyr-Heavy'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot');
  src: local('Avenir Next Cyr Bold'), local('AvenirNextCyr-Bold'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.eot');
  src: local('Avenir Next Cyr Demi Italic'), local('AvenirNextCyr-DemiItalic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Thin.eot');
  src: local('Avenir Next Cyr Thin'), local('AvenirNextCyr-Thin'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Thin.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue_Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue_Regular.otf');
  font-weight: normal;
  font-style: normal;
}


/*===============================
----- GENERAL
=================================*/

html,
body,
p {
  font-family: 'Avenir Next', sans-serif;
}

h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5 {
	font-family: 'Bebas Neue', sans-serif;
}

h1, .h1 {
	font-size: 93px;
  line-height: normal;
	font-weight: bold;
	letter-spacing: 7px;
}

h3, .h3 {
	font-size: 42px;
  line-height: normal;
	font-weight: bold;
	letter-spacing: 5px;
}

h4, .h4 {
	font-size: 40px;
  line-height: normal;
	font-weight: bold;
	letter-spacing: 4px;
}

h5, .h5 {
	font-size: 28px;
  line-height: normal;
	font-weight: bold;
	letter-spacing: 3px;
}

a {
	text-decoration: none;
}

a:hover {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar-track {background: rgba(0, 0, 0, .1);}
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-thumb {background: rgba(0, 0, 0, .3);}
@media (max-width: 1400px) {
	h1, .h1 {
		font-size: 85px;
	}
}

@media (max-width: 1100px) {
	h1, .h1 {
		font-size: 72px;
	}
}

@media (max-width: 768px) {
	h1, .h1 {
		font-size: 40px;
		letter-spacing: 3px;
	}
	h3, .h3 {
		font-size: 30px;
		letter-spacing: 2px;
	}
	h4, .h4 {
		font-size: 30px;
		letter-spacing: 2px;
	}
}


/*===============================
----- BUTTONS
=================================*/

.Button {
  display: inline-block;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.Button:hover {
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	text-decoration: none;
	color: initial;
}

.Button--large {
	padding: 20px 40px;
	font-size: 14px;
  font-weight: bold;
}

.Button--middle {
	padding: 20px 40px;
	font-size: 11px;
  font-weight: bold;
}

.Button--middle--two-rows {
	padding: 15px 60px 15px 40px;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	position: relative;
}

.Button--middle--two-rows i {
	position: absolute;
	top: 50%;
	right: 30px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.Button--small {
	padding: 10px 20px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	font-size: 11px;
	line-height: 1;
  font-weight: bold;
}

.Button--small:hover {
	padding: 10px 20px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.Button--white {
	background-color: #fff;
	border-color: #fff;
  color: #000;
}

.Button--black {
	background-color: #000;
	border-color: #000;
  color: #fff;
}

.Button--black:hover {
  color: #fff;
}

.Button--orange {
	background: -webkit-gradient(linear, left top, right top, from(#fdb83e), to(#fd8424));
	background: -webkit-linear-gradient(left, #fdb83e, #fd8424);
	background: -o-linear-gradient(left, #fdb83e, #fd8424);
	background: linear-gradient(to right, #fdb83e, #fd8424);
	border: none;
	color: #fff;
}

.Button--orange:hover {
	color: #fff;
}

.Button--bordered {
	color: #fff;
	border-color:#fff;
}

.Button--bordered-orange {
	color: #fff;
	border-color: #fd8424;
}

.Button--bordered-white {
	color: #000;
	border-color: #000;
}

.Button--bordered span {
	border-bottom: 1px dashed #fff;
}

.Button--bordered:hover {
	color: #fff;
}

.Button--with-desc {
	position: relative;
}

.Button--with-desc::after {
	position: absolute;
	width: 100%;
	top: 50%;
	right: 0;
	transform: translate(100%, -50%);
}

@media (max-width: 768px) {
	.Button--large,
	.Button--middle {
		padding: 15px 30px;
		font-size: 10px;
	}
	.Button--middle--two-rows i {
		right: 10px;
	}
}

/*===============================
----- ICONS
=================================*/

.Icon {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.Icon--grey {
	background-color: #232323;
}
.Icon--eco {
	background-image: url(../images/eco-icon.png);
}
.Icon--free {
	background-image: url(../images/qvcup-icon.png);
}
.Icon--year {
	background-image: url(../images/year-icon.png);
}

@media (max-width: 768px) {
	.Icon {
		width: 50px;
		height: 50px;
		background-size: 60%;
	}
}

/*===============================
----- HEADER
=================================*/

.Header__container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 150px;
	z-index: 10;
}

.Header__logo {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.Header__phone {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	position: absolute;
	top: 50%;
	right: 50px;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
	color: #fff;
}
.Header__phone-icon {
	margin-right: 10px;
	padding: 20px;
	display: inline-block;
	border: 1px solid;
	border-radius: 50%;
	line-height: 1;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.Header__phone-icon.white {
	color: #fff;
	border-color: #fff;
}

.Header__phone-icon.black {
	color: #000;
	border-color: #000;
}

.Header__phone-icon.white:hover {
	background-color: #fff;
}

.Header__phone-icon.white:hover i{
	color: #000;
}

.Header__phone-icon.black:hover{
	background-color: #000;
}

.Header__phone-icon.black:hover i{
	color: #fff;
}

.Header__phone a{
	font-size: 18px;
	line-height: 1;
	font-weight: 500;
}

.Header__phone a.white {
	color:#fff;
}

.Header__phone a:hover{
	text-decoration: none;
}

@media (max-width: 768px) {
	.Header__phone {
		right: 10px;
	}
	.Header__phone a{
		font-size: 14px;
	}
	.Header__container .Header__phone-value {
		display: none;
	}
	.Header__phone-icon {
		margin-right: 0;
		padding: 12px;
	}
	.Header__container {
		height: 80px;
	}
	.Header__logo img {
		width: 100px;
	}
}

/*===============================
----- MENU
=================================*/

.Menu {
	padding: 40px 15px 40px 40px;
	position: fixed;
  z-index: 110;
  top: 0;
  left: -600px;
  width: 530px;
	height: 100%;
	text-align: left;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 0 5px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 1px 0 5px 0 rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Menu.opened {
	left: 0;
}

.Menu__container {
	position: absolute;
	top: 30%;
	transform: translateY(-30%);
}

.Menu__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.Menu__item {
	margin-bottom: 10px;
}

.Menu__item:last-child {
	margin-bottom: 0;
}

.Menu__item a {
	padding: 5px 7px 3px;
	display: inline-block;
	font-size: 34px;
	line-height: 1;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #000;
	-webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Menu__item a:hover,
.Menu__item.active a {
	text-decoration: none;
	background-color: #000;
	color: #fff;
}

.Menu__close {
	padding: 14px 20px;
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, .06);
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.Menu__close:hover {
	border: 1px solid #000;
	background-color: #000;
}
.Menu__close:hover i {
	color: #fff;
}

.Menu__contacts {
	padding: 30px 0;
	position: absolute;
	bottom: 0;
	width: 90%;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.Menu__contacts a.black {
	color:#000;
	font-size: 22px;
	font-weight: 500;
	line-height: 1;
}

.Menu__contacts a.black:hover {
	text-decoration: none;
}

@media (max-width: 768px) {
	.Menu {
		padding: 20px;
		width: 100%;
	}
	.Menu__close {
		padding: 12px 18px;
	}
	.Menu__item {
		margin-bottom: 5px;
	}
	.Menu__item a {
		font-size: 25px;
	}
	.Menu__contacts {
		padding: 20px 0;
	}
	.Menu__contacts a.black {
		font-size: 18px;
	}
	.Menu__contacts .Header__phone-icon {
		margin-right: 10px;
	}
}

/*===============================
----- OVERLAY
=================================*/

.Overlay {
	opacity: 0;
	visibility: hidden;
  position: fixed;
  z-index: 109;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
	cursor: pointer;
	webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.Overlay.active {
	opacity: 0.7;
	visibility: visible;
}

/*===============================
----- NAVIGATION
=================================*/

.Navigation {
	position: fixed;
	width: 140px;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
}

.Navigation__buttom {
	margin-top: 60px;
	margin-left: 50px;
	display: inline-block;
	width: 55px;
	height: 22px;
	position: relative;
	cursor: pointer;
}

.Navigation__buttom::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #fff;
	webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.Navigation__buttom:hover::before {
	width: 80%;
}

.Navigation__buttom::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80%;
	height: 3px;
	background-color: #fff;
	webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.Navigation__buttom:hover::after {
	width: 100%;
}

@media (max-width: 1300px) {
	.Navigation {
		width: 80px;
	}
	.Navigation__buttom {
		margin-left: 12px;
	}
}

@media (max-width: 768px) {
	.Navigation {
		background: none;
	}
	.Navigation__buttom {
		margin-top: 30px;
		width: 35px;
  	height: 17px;
	}
}

/*===============================
----- BANNER
=================================*/

.Banner {
	position: relative;
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
}

.Banner--dark:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.65);
}

.Banner--small-dark:before {
	background-color: rgba(0, 0, 0, 0.20);
}

.Banner--greeting {
	background-image: url(../images/bgTop.jpg);
}

.Banner--franchise {
	background-image: url(../images/bgFarn.jpg);
}

.Banner--franchise-negative {
	background-image: url(../images/bgFarnN.jpg);
}

.Banner--mashines {
	background-image: url(../images/bgMashineBW.jpg);
}

.Banner--investments {
	background-image: url(../images/bgInves.jpg);
}

.Banner--pack {
	background-image: url(../images/bgTopBrandBW.jpg);
}

.Banner__content {
	position: relative;
	height: 100vh;
}

.Banner__content .Button {
  margin-top: 20px;
}

.Banner__header {
  text-align: left;
	color: #ffffff;
}

.Banner__header.middle {
	font-size: 70px;
}

.Banner__text {
  margin-right: auto;
  margin-top: 15px;
  max-width: 530px;
  font-family: 'Avenir Next', sans-serif;
  font-size: 30px;
  line-height: 1;
  text-align: left;
  color: #ffffff;
}

.Banner__text.small {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 17px;
	line-height: 24px;
}

.Banner__buttons .Button {
	margin-right: 30px;
}

.Banner__buttons .Button:last-child {
	margin-right: 0;
}

.Banner__button-icons {
	margin-top: 54px;
}

.Banner__button-icons .Icon{
	margin-right: 14px;
}

.Banner__button-icons .Icon:last-child {
	margin-right: 0;
}

.Banner__links {
	position: absolute;
	left: 0;
	bottom: 60px;
}

.Banner__links a {
	margin-right: 65px;
	display: inline-block;
	max-width: 130px;
	position: relative;
	font-size: 18px;
	color: #fff;
}

.Banner__links a:hover {
	text-decoration: none;
}

.Banner__links a:last-child {
	margin-right: 0;
}

.Banner__links a span {
	border-bottom: 1px solid #fff;
	webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.Banner__links a:hover span {
	border-color: transparent;
}

.Banner__links a::before {
	content: '';
	position: absolute;
	top: 12px;
	left: -40px;
	width: 26px;
	height: 2px;
	background-color: #fff;
}

@media (max-width: 1100px) {
  .Banner {
    background-position: 62% 0%;
  }
}

@media (max-width: 768px) {
	.Banner {
    background-position: 37% 0%;
	}
	.Banner__content {
		height: 100%;
	}
	.Banner__header.middle {
		font-size: 40px;
		letter-spacing: 3px;
	}
  .Banner__text {
		margin-top: 0;
    font-size: 16px;
	}
	.Banner__text.small {
		margin-top: 10px;
		font-size: 12px;
	}
	.Banner__button-icons {
		margin-top: 30px;
	}
	.Banner__links {
		padding-left: 44px;
		margin-top: 20px;
		position: initial;
  	left: 15px;
	}
	.Banner__links a {
		margin-right: 30px;
		max-width: 100px;
		font-size: 11px;
	}
	.Banner__links a::before {
		left: -30px;
  	width: 20px;
	}
	.Banner__content .Button {
		margin-top: 10px;
		margin-right: 0;
	}
}


/*===============================
----- PAGE WRAPPER BLOCK
=================================*/

.Page__wrapper {
  padding: 40px 80px 40px 80px;
	position: fixed;
  z-index: 110;
  top: 0;
  right: -100%;
  width: 85%;
	height: 100%;
	text-align: left;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 0 5px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 1px 0 5px 0 rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
	transition: all 0.5s;
	overflow: auto;
}

.Page__wrapper[data-level="2"] {
	width: 75%;
}

.Page__wrapper.opened {
	right: 0;
}

.Page__close {
	padding: 14px 20px;
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, .06);
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.Page__close--with-text {
	position: relative;
}

.Page__close--with-text::after {
	position: absolute;
	top: 50%;
	right: 10px;
	text-transform: uppercase;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	-webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.Page__close--back-catalog::after {
	content: 'назад в каталог';
	width: 100%;
	min-width: 135px;
	right: -20px;
	-webkit-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
}

.Page__close:hover {
	border: 1px solid #000;
	background-color: #000;
}

.Page__close:hover i {
	color: #fff;
}

.Page__content.active {
	height: auto;
	width: 100%;
	max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Page__content {
	display: none;
}

.Page__content-wrapper {
	width: 100%;
}

.Page__wrapper .Header__phone-value {
	font-size: 18px;
	line-height: 1;
	font-weight: 500;
	color: #000;
}

.Page__header a:hover {
	text-decoration: none;
}

.Page__header {
	padding-bottom: 10px;
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Page__content .right-middle-indent {
	padding-right: 30px;
}

.Page__title span.white-backround {
	padding-right: 30px;
	display: inline-block;
	position: relative;
	background-color: #fff;
	z-index: 1;
}

.Page__title {
	position: relative;
}

.Page__title.with-line::after {
	content: '';
	position: absolute;
	right: 0;
	top: 20%;
	width: 100%;
	height: 1px;
	border-bottom:1px solid rgba(0, 0, 0, .1);
	z-index: 0;
}

.Page__title.with-line.one-row::after {
	top: 40%;
}

.Page__title span.grey {
	color: #ababab;
}

.Page__title.fix-width span.grey {
	display: block;
}

.Page__subtitle {
	padding: 30px 0 15px;
	font-size: 20px;
	line-height: 1;
	font-weight: 500;
}

.Page__subtitle.middle {
	margin-bottom: 0;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.Page__text {
	font-size: 16px;
	line-height: 20px;
	color: #5b5b5b;
}

.Page__text.min-height {
	min-height: 100px;
}

.Page__text.max-width {
	max-width: 440px;
}

.Page__title-block {
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Page__title-block.with-icon {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 60px;
}

.Page__title-block p {
	margin: 0 0 0 20px;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.Page__text.dark {
	color: #333;
}

.Page__cta {
	margin-top: 40px;
	position: relative;
	text-align: left;
}

.Page__cta.with-border:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 50%;
	height: 1px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

@media (max-width: 1200px) {
	.Page__wrapper {
		padding: 20px 40px 20px 40px;
		width: 90%;
	}
	.Page__wrapper[data-level="2"] {
		width: 85%;
	}
	.Page__content.active {
		padding: 20px 0;
		display: inline-block;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

@media (max-width: 768px) {
	.Page__close {
		padding: 8px 14px;
	}
	.Page__close--with-text::after {
		content: none;
	}
	.Page__wrapper,
	.Page__wrapper[data-level="2"] {
		padding: 0;
		width: 100%;
		box-shadow: none;
		height: 100%;
	}
	.Page__header {
		margin-bottom: 3px;
		padding: 20px;
		-webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.25);
		box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.25);
	}
	.Page__header .Header__phone-icon {
		margin-right: 10px;
	}
	.Page__header .Header__phone-value {
		font-size: 14px;
	}
	.Page__content.active {
		padding: 20px;
		height: calc(100% - 90px);
	}
	.Page__content .right-middle-indent {
		padding-right: 15px;
	}
	.Page__content .Page__column.col-12 {
		margin-bottom: 30px;
	}
	.Page__content .Page__column.col-12:last-child {
		margin-bottom: 0;
	}
	.Page__title.fix-width span.grey {
		display: inline-block;
	}
	.Page__title.with-line::after {
		top: 42%;
		right: 20px;
		width: 60%;
	}
	.Page__title span.white-backround {
		padding-right: 10px;
	}
	.Page__title-block.with-icon {
		margin-top: 0;
	}
	.Page__subtitle {
		padding: 15px 0 0;
		font-size: 17px;
	}
	.Page__text {
		font-size: 14px;
	}
	.Page__text.min-height {
		min-height: auto;
	}
	.Page__cta {
		margin-top: 20px;
	}
	.Page__cta.with-border:after {
		content: none;
	}
}

/*================================
----- GALLERY
=================================*/

.Gallery {
	margin-top: 30px;
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Gallery__block {
	position: relative;
}

.Gallery__item {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 0;
	display: inline-block;
}

.Gallery__item::before {
	content: '';
	position: absolute;
	width: 0;
	height: 1px;
	top: 10px;
	left: 10px;
	background-color: #fff;
	opacity: 0;
	z-index: 2;
	-webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.Gallery__item::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .7);
	opacity: 0;
	z-index: 1;
	-webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
}

.Gallery__item:hover::after {
	opacity: 1;
}

.Gallery__item:hover::before {
	width: 35%;
	opacity: 1;
}

.Gallery__item-image {
	width: 100%;
}

.Gallery__item-link {
	position: relative;
	display: inline-block;
}

.Gallery__item-link::before {
	content: '';
	position: absolute;
	width: 0;
	height: 1px;
	bottom: 10px;
	right: 10px;
	background-color: #fff;
	opacity: 0;
	z-index: 2;
	-webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.Gallery__item:hover .Gallery__item-link::before {
	width: 35%;
	opacity: 1;
}

.Gallery__item-hint {
	display: inline-block;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	z-index: 2;
	opacity: 0;
	-webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

.Gallery__item:hover .Gallery__item-hint {
	opacity: 1;
}

@media (max-width: 768px) {
	.Gallery {
		margin: 30px -20px 0;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.Gallery__item {
		width: 50%;
	}
}

/*================================
----- PRODUCTS
=================================*/

.Products {
	margin-top: 40px;
}
.Products figure img {
	width: 100%;
}
.Products__nav {
	margin: 0;
  padding: 0;
	list-style: none;
}
.Products__nav-item {
	margin-bottom: 10px;
}

.Products__item:last-child {
	margin-bottom: 0;
}

.Products__nav-item .Button.active {
	background-color: #000;
	color: #fff;
}

.Products__grid {
	height: 550px;
	overflow-y: auto;
}

.Products__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.Products__item {
	padding: 10px;
	width: 33%;
	height: 100%;
	opacity: 1;
	overflow: hidden;
	text-align: center;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.Products__item a {
	color: inherit;
}

.Products__item a:hover {
	text-decoration: none;
}

.Products__item.hidden {
	padding: 0;
	opacity: 0;
	width: 0;
}

.Products__item-image-block {
	height: 225px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.Products__item-name {
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
}

.Products__item-wrapper {
	padding: 15px;
	position: relative;
	z-index: 0;
	cursor: pointer;
}

.Products__item-wrapper::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: transparent;
	border: 1px solid transparent;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.Products__item-wrapper::before {
	content: '';
	position: absolute;
	width: 45px;
	height: 45px;
	bottom: 0;
	right: 0;
	z-index: 2;
	opacity: 0;
	border-style: solid;
	border-width: 0 0 45px 45px;
	border-color: transparent transparent #050505 transparent;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.Products__item-wrapper:hover::before {
	opacity: 1;
}

.Products__item-wrapper:hover::after {
	border-color: #000;
	background-color: rgba(255, 255, 255, .9);
}

.Products__item-icon {
	position: absolute;
	width: 66px;
	height: 66px;
	top: 50%;
	left: 50%;
	opacity: 0;
	font-size: 30px;
	line-height: 66px;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background-color: #000;
	border-radius: 50%;
	color: #fff;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	z-index: 2;
}

.Products__item-wrapper:hover .Products__item-icon,
.Products__item-wrapper:hover .Products__item-icon-plus {
	opacity: 1;
}

.Products__item-icon-plus {
	position: absolute;
	bottom: 4px;
	right: 6px;
	opacity: 0;
	color: #fff;
	z-index: 2;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.Products__item .trueSide {
  display:block;
  opacity: 0;
}
.Products__item .trueSide.empty {
	height:0!important;
}
.Products__item {
  position:relative;
  -webkit-perspective: 400px;
  perspective: 400px;
}
.Products__item .side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.Products__item .side {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0s ease-in-out;
  transition: -webkit-transform 0s ease-in-out;
  -o-transition: transform 0s ease-in-out;
  transition: transform 0s ease-in-out;
  transition: transform 0s ease-in-out,
  -webkit-transform 0s ease-in-out;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  /* transform: scale(0); */

}
.Products__item .side.active {
  z-index: 10;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  /* transform: scale(1); */
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out,
  -webkit-transform .5s ease-in-out;
}

@media (max-width: 768px) {
	.Products {
		margin-top: 20px;
	}
	.Products__nav-item {
		display: inline-block;
	}
	.Products__grid {
		height: auto;
	}
	.Products__item-image-block img {
		width: 100%;
	}
}

/*================================
----- PRODUCT
=================================*/

.Product__image-block {
	margin-top: 15px;
}

.Product__image {
	max-height: 300px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.Product__image figure a,
.Product__gallery-item a {
	display: inline-block;
	position: relative;
	z-index: 1;
}

.Product__image figure a::after,
.Product__gallery-item a::after {
	content: '';
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	-webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	background-color: #fff;
}

.Product__image figure a:hover::after,
.Product__gallery-item a:hover::after {
	opacity: .5;
}

.Product__image figure img {
	width: 100%;
}

.Product__preview-icon {
	position: absolute;
  width: 66px;
  height: 66px;
  top: 50%;
  left: 50%;
	opacity: 0;
	text-align: center;
  font-size: 30px;
  line-height: 66px;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 3;
}

.Product__preview-icon.small {
	width: 30px;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	background: none;
	color: #000;
}

.Product__image:hover .Product__preview-icon,
.Product__gallery-item:hover .Product__preview-icon {
  opacity: 1;
}

.Product__gallery {
	margin-top: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.Product__gallery-item {
	padding: 10px;
}

.Product__gallery-item img {
	width: 100%;
	max-width: 70px;
}

.Product__desc-title {
	margin-bottom: 0;
	padding-bottom: 10px;
	font-size: 12px;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.Product__desc-title.bordered {
	border-bottom: 1px solid rgba(171, 171, 171, .2);
}

.Product__types {
	margin-top: 20px;
}

.Product__types-list {
	margin-top: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
}
.Product__types-item {
	width: 100%;
	max-width: 80px;
	text-align: center;
}
.Product__types-item:nth-child(3n-1) {
	margin-right: 30px;
	margin-left: 30px;
}
.Product__types-item img {
	width: 67px;
	height: 67px;
}

.Product__types-item p {
	margin-top: 10px;
	font-size: 13px;
	line-height: 1;
	font-weight: 500;
	color: #5b5b5b;
}

.Product__text {
	font-size: 15px;
	line-height: 20px;
	color: #5b5b5b;
}

.Product__text.strong {
	color: #000;
	font-weight: 500;
}

.Product__description {
	margin-top: 30px;
}

.Product__description-table p{
	margin-bottom: 0;
}

.Product__description-table {
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(171, 171, 171, .2);
}

.Product__description-table td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 0;
}

.Product__column-text {
	width: 70%;
	padding-right: 20px;
}

.Product__price-block {
	margin-top: 30px;
}

.Product__price-text {
	margin-bottom: 10px;
	font-size: 10px;
	font-weight: 500;
	text-transform: uppercase;
	color: rgba(0, 0, 0, .2);
}

.Product__price-value {
	font-size: 36px;
	line-height: 28px;
	font-weight: 500;
	color: #000;
}

.Product__price-value span {
	font-size: 13px;
	line-height: 28px;
	font-weight: bold;
	text-transform: uppercase;
}

.Product__price-block .Button {
	margin-bottom: 20px;
	width: 100%;
	max-width: 260px;
}

.Product__price-block .Button:last-child {
	margin-bottom: 0;
}

.Product__price-block .Button--with-desc::after {
	content: '*от 3 кг. Кофе в месяц';
	right: 30px;
	font-size: 14px;
	line-height: 1;
	color: #5b5b5b;
	text-transform: none;
	letter-spacing: normal;
	font-weight: normal;
}
@media (max-width: 1500px) {
	.Product__types-item {
		margin: 0;
		padding-right: 5px;
		padding-left: 5px;
		width: 33%;
		max-width: 100%;
	}
	.Product__types-item:nth-child(3n-1) {
		margin: 0;
		padding-right: 5px;
		padding-left: 5px;
	}
}
@media (max-width: 768px) {
	.Product__image figure {
		margin: 0 auto;
	}
	.Product__gallery {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.Product__price-block {
		text-align: center;
	}
	.Product__price-block .Button--with-desc::after {
		top: auto;
		left: 0;
		right: auto;
		bottom: -20px;
		-webkit-transform: translate(0%,0%);
		-ms-transform: translate(0%,0%);
		transform: translate(0%,0%);
	}
}


/*================================
----- Ingredient
=================================*/

.Ingredient-sidebar {
	padding-right: 40px;
}

.Ingredient__title {
	margin-bottom: 0;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 1;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.Ingredient__text {
	font-size: 15px;
	line-height: 20px;
	color: #5b5b5b;
}

.Ingredient__image-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.Ingredient__image,
.Ingredient__params {
	width: 50%;
}

.Ingredient__image figure img {
	max-height: 250px;
}

.Ingredient__image figure a {
	display: inline-block;
	position: relative;
	z-index: 1;
}

.Ingredient__image figure a::after {
	content: '';
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	-webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	background-color: #fff;
}

.Ingredient__image figure a:hover::after {
	opacity: .5;
}

.Ingredient__preview-icon {
	position: absolute;
  width: 66px;
  height: 66px;
  top: 50%;
  left: 50%;
	opacity: 0;
	text-align: center;
  font-size: 30px;
  line-height: 66px;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 3;
}

.Ingredient__image:hover .Ingredient__preview-icon {
  opacity: 1;
}

.Ingredient__params-item {
	padding-bottom: 15px;
}

.Ingredient__params-item p {
	margin-bottom: 0;
}

.Ingredient__params-item-title {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: #000;
}

.Ingredient__params-item-text {
	font-size: 14px;
	line-height: 20px;
	color: #818181;
}

.Ingredient__params-item-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.Ingredient__params-item-icon {
	margin-top: 5px;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}

.Ingredient__params-item-icon:last-child {
	margin-right: 0;
}

.Ingredient__params-item-icon.empty {
	opacity: .14;
}

.Ingredient__price {
	padding-top: 10px;
	border-top: 1px solid rgba(0, 0, 0, .06);
}

.Ingredient__price-text {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #818181;
}

.Ingredient__price-value {
	font-size: 22px;
	line-height: 28px;
	font-weight: bold;
	color: #000;
}

.Ingredient__price-value span {
	font-size: 10px;
	text-transform: uppercase;
}

.Ingredient__sub-product {
	margin-top: 40px;
}

.Ingredient__sub-product .Button {
	margin-top: 15px;
}

.Ingredient__description {
	margin-top: 20px;
}

.Ingredient__cups {
	margin-top: 20px;
}

.Ingredient__cup {
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}

@media (max-width: 1200px) {
	.Ingredient__image figure img {
		width: 100%;
	}
}
@media (max-width: 768px) {
	.Ingredient__sub-product {
		margin-top: 10px;
	}
	.Ingredient__sub-product .Button {
		margin-top: 0;
	}
	.Ingredient__items {
		margin-top: 20px;
	}
	.Ingredient__cup {
		padding-left: 5px;
		padding-right: 5px;
	}
	.Ingredient__cup:first-child {
		padding-left: 0;
	}
	.Ingredient__cup:last-child {
		padding-right: 0;
	}
	.Ingredient__cup .small {
		width: 60px;
	}
	.Ingredient__cup .middle {
		width: 75px;
	}
	.Ingredient__cup .large {
		width: 100px;
	}
}


/*================================
----- BRAND
=================================*/

.Brand__list {
  margin-top: 20px;
}

.Brand__item {
	padding-top: 250px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border: 1px solid rgba(0, 0, 0, .1);
	background-repeat: no-repeat;
	background-position: 50% 25%;
	text-align: center;
	-webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.Brand__item:hover {
	border-color: rgba(0, 0, 0, .6);
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.Brand__item-title {
	margin-bottom: 0;
	font-size: 13px;
	line-height: 1;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	letter-spacing: .5px;
}


/*================================
----- Franchise
=================================*/

.Franchise__text {
	max-width: 370px;
	font-size: 16px;
	line-height: normal;
	color: #5b5b5b;
}

.Franchise__sidebar .Page__title {
	margin-bottom: 20px;
}

.Franchise__icons {
	margin-top: 20px;
	max-width: 330px;
}

.Franchise__icon-block {
	margin-top: 10px;
	text-align: center;
}

.Franchise__icon {
	width: 120px;
	height: 120px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 50%;
	position: relative;
	z-index: 0;
	-webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.Franchise__icon:hover {
	background-color: #000;
	border-color: #000;
}

.Franchise__icon:hover::before {
	opacity: 0;
}

.Franchise__icon:hover::after {
	opacity: 1;
}

.Franchise__icon::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-position: 50%;
	background-repeat: no-repeat;
	z-index: 1;
	opacity: 1;
	-webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.Franchise__icon::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-position: 50%;
	background-repeat: no-repeat;
	z-index: 2;
	opacity: 0;
	-webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.Franchise__icon--support::before {
	background-image: url(../images/support-black.png);
}

.Franchise__icon--support::after {
	background-image: url(../images/support-white.png);
}

.Franchise__icon--crm::before {
	background-image: url(../images/crm-black.png);
}

.Franchise__icon--crm::after {
	background-image: url(../images/crm-white.png);
}

.Franchise__icon--customer::before {
	background-image: url(../images/customer-black.png);
}

.Franchise__icon--customer::after {
	background-image: url(../images/customer-white.png);
}

.Franchise__icon--building::before {
	background-image: url(../images/building-black.png);
}

.Franchise__icon--building::after {
	background-image: url(../images/building-white.png);
}

.Franchise__icon-name {
	margin-top: 10px;
	font-size: 16px;
	line-height: normal;
	font-weight: 500;
	color: #000;
}

.Franchise__icon-name span {
	display: block;
	font-weight: normal;
	color: #5b5b5b;
}

.Franchise__sidebar .Button {
	margin-top: 20px;
}

.Franchise__parner img {
	max-width: 107px;
	border-radius: 50%;
}

.Franchise__partners-list {
	margin-top: 30px;
}

.Franchise__partner-name {
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1;
	font-weight: 500;
	color: #000;
}

.Franchise__partner-info {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #8b8b8b;
}

.Franchise__partner-insta {
	margin-top: 5px;
  padding-left: 22px;
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	color: #000;
	position: relative;
}

.Franchise__partner-insta i {
	font-size: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Franchise__polygraphy {
	margin-top: 70px;
}

.Franchise__polygraphy .h5 {
	min-height: 70px;
}

.Franchise__polygraphy img {
	margin-top: 30px;
}

@media (max-width: 768px) {
	.Franchise__text {
		font-size: 14px;
	}
	.Franchise__content {
		margin-top: 30px;
	}
	.Franchise__parner {
		margin-bottom: 20px;
	}
	.Franchise__parner:last-child {
		margin-bottom: 0;
	}
	.Franchise__polygraphy {
		margin-top: 30px;
	}
	.Franchise__polygraphy .h5 {
		min-height: auto;
	}
	.Franchise__polygraphy img {
		margin-top: 10px;
		width: 100%;
	}
	.Franchise__polygraphy .col-12 {
		margin-bottom: 30px;
	}
}


/*================================
----- Investments
=================================*/

.Investments__sidebar .Page__title {
	margin-bottom: 20px;
}

.Investments__text {
	margin-bottom: 30px;
	font-size: 15px;
	line-height: normal;
	color: #5b5b5b;
}

.Investments__director {
	margin-top: 30px;
}

.Investments__director img {
	width: 108px;
	border-radius: 50%;
}

.Investments__director-name {
	margin-bottom: 0;
	font-size: 21px;
	line-height: 1;
	font-weight: 500;
	color: #000;
	letter-spacing: 0.2px;
}

.Investments__director-position {
	margin-bottom: 0;
	margin-top: 3px;
	font-size: 10px;
	line-height: 20px;
	font-weight: 500;
	color: #8b8b8b;
	letter-spacing: 0.4px;
	text-transform: uppercase;
}

.Investments__content {
	margin-top: 20px;
}

.Investments__counter-cup {
	padding: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.Investments__counter-cup .number {
	font-size: 108px;
	line-height: 1;
	color: #000;
	letter-spacing: 5px;
	font-family: 'Bebas Neue', san-serif;
	font-weight: bold;
}

.Investments__counter-cup .text {
	margin-left: 20px;
	display: inline-block;
	max-width: 230px;
	font-size: 40px;
	line-height: 1.25;
	color: #b7b7b7;
	letter-spacing: 2px;
	font-family: 'Bebas Neue', san-serif;
	font-weight: bold;
}

.Investments__counter-list {
	padding: 0 15px;
}

.Investments__counter-item {
	padding-left: 0;
	padding-right: 0;
}

.Investments__counter-item.fix-width-250 {
	min-width: 280px;
}

.Investments__counter-item.fix-width-170 {
	min-width: 170px;
}

.Investments__counter-header {
	padding: 30px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	text-align: left;
}

.Investments__counter-header-number {
	margin-bottom: 0;
	font-size: 54px;
	line-height: 1;
	font-family: 'Bebas Neue', san-serif;
	font-weight: bold;
	color: #000;
}

.Investments__counter-header-text,
.Investments__counter-item.with-flex-header .before {
	margin-bottom: 0;
	font-size: 22px;
	line-height: 1;
	font-family: 'Bebas Neue', san-serif;
	font-weight: normal;
	color: #b7b7b7;
	letter-spacing: 2px;
}

.Investments__counter-item.with-flex-header .Investments__counter-header-text {
	padding-left: 30px;
}

.Investments__counter-item.with-flex-header .Investments__counter-item-cities {
	padding-left: 50px;
}

.Investments__counter-item.with-flex-header .Investments__counter-header-number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.Investments__counter-item-cities {
	padding: 20px 20px 0;
	margin: 0;
	list-style: none;
}

.Investments__counter-item-cities li {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	color: #000;
}
@media (max-width: 1400px) {
	.Investments__counter-item.fix-width-250,
	.Investments__counter-item.fix-width-170 {
		min-width: auto;
	}
	.Investments__counter-cup .number {
		font-size: 85px;
	}
	.Investments__counter-cup .text {
		font-size: 33px;
	}
	.Investments__counter-item {
		width: 25%;
	}
	.Investments__counter-header {
		padding: 30px 10px;
	}
}
@media (max-width: 1024px) {
	.Investments__counter-cup .number {
		font-size: 62px;
	}
	.Investments__counter-cup .text {
		font-size: 26px;
	}
}
@media (max-width: 768px) {
	.Investments__director-name {
		font-size: 16px;
	}
	.Investments__director-position {
		font-size: 9px;
	}
	.Investments__counter-cup {
		padding: 10px 0;
	}
	.Investments__counter-cup .number,
	.Investments__counter-header-number {
		font-size: 41px;
		letter-spacing: 2px;
	}
	.Investments__counter-cup .text {
		margin-left: 13px;
		max-width: 100px;
  	font-size: 16px;
	}
	.Investments__counter-header {
		padding: 15px 0;
		border-bottom: none;
		width: 40%;
	}
	.Investments__counter-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		min-width: 100%;
	}
	.Investments__counter-item.fix-width-170 {
		min-width: 100%;
	}
	.Investments__counter-item.fix-width-250 {
		min-width: 100%;
	}
	.Investments__counter-item-cities {
		padding: 10px 0 0 20px;
	}
	.Investments__counter-item-cities li {
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: 14px;
	}
	.Investments__counter-item.with-flex-header .Investments__counter-item-cities {
		padding-left: 20px;
	}
	.Investments__counter-header-text, .Investments__counter-item.with-flex-header .before {
		font-size: 17px;
	}
	.Investments__counter-header-number.mobile-small {
		font-size: 30px;
	}
}

/*================================
----- ANIMATIONS STYLE
=================================*/

@media (min-width: 768px) {
	.js-animation-fadeIn,
	.js-animation-fadeInUp,
	.js-animation-fadeInDown {
			opacity: 0;
	}

	.js-animation-slide-left {
			left: -100%;
	}
}

/*================================
------ MOUSE STYLE
=================================*/

.Mouse--wrapper {
	position: absolute;
	left: 67px;
	-webkit-transform: translate(-13px,0);
	-ms-transform: translate(-13px,0);
	transform: translate(-13px,0);
	bottom: 60px;
	z-index: 11;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.Mouse--wrapper.hidden {
	opacity: 0;
}
.Mouse--sign {
	display: inline-block;
	font-size: 9px;
	color: rgba(255, 255, 255, .2);
	-webkit-transform: rotate(270deg) translate(60%,-50%);
	-ms-transform: rotate(270deg) translate(60%,-50%);
	transform: rotate(270deg) translate(60%,-100%);
	letter-spacing: 1px;
  text-transform: uppercase;
}
.Mouse {
	  width: 25px;
	  height: 35px;
	  position: relative;
	  border: 2px solid #fff;
	  border-radius: 14px;
	  -webkit-transition-property: border-color;
	  -o-transition-property: border-color;
	  transition-property: border-color;
	  -webkit-transition-duration: .3s;
	  -o-transition-duration: .3s;
	  transition-duration: .3s;
	}

	.Mouse--black {
	  border-color: #000;
	}

	.Mouse span {
	  position: absolute;
	  top: 0px;
	  left: 50%;
	  transform: translateX(-50%);
	  font-size: 4px;
	  font-weight: bold;
	  color: #fff;
	  -webkit-animation: vertical-position 1s linear infinite;
	  animation: vertical-position 1s linear infinite;
	}

	.Mouse--black span {
	  color: #000;
	}

	@keyframes vertical-position {
	  0% {
	    top: 0;
	  }

	  50% {
	    top: 10px;
	  }

	  100% {
	    top: 0;
	  }
	}
	@media (max-width: 1300px) {

	  .Mouse--wrapper {
			left: 40px;
	  }
	}

	@media (max-width: 768px) {

	  .Mouse--wrapper {
	    display: none;
	  }
	}

/*================================
------ FULL PAGE STYLE
=================================*/

#fp-nav.left {
  left: 67px;
  -webkit-transform: translate(-15px, 0);
  -ms-transform: translate(-15px, 0);
  transform: translate(-15px, 0);
}

#fp-nav ul li,
.fp-slidesNav ul li {
  width: 15px;
  height: 15px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  margin: 0;
  width: 5px;
  height: 5px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #535353;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 15px;
  height: 15px;
  margin: 0;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  margin: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
}

@media (max-width: 1300px) {
	#fp-nav.left {
		left: 41px;
	}
}

@media (max-width: 578px) {
	#fp-nav.left {
		left: 30px;
	}
}

/*===============================
----- Preloader
=================================*/

.preloader__wrapper {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
}

.preloader__wrapper.black {
	background-color: rgba(0, 0, 0, 0.96);
	color: #fff;
}

.preloader {
  width: 1em;
  height: 1em;
  background-color: #ff8714;
  border-radius: 100%;
	animation: preloader-1 30s infinite linear;
	position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.preloader:before, .preloader:after {
		content: '';
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.preloader:before {
		width: 3.3em;
		height: 7em;
		animation: preloader-2 .8s linear infinite;
	}
	.preloader:after {
		width: 7em;
		height: 3.3em;
		animation: preloader-2 1.2s linear infinite;
	}
@keyframes preloader-1 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes preloader-2 {
  0% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
  }
  25% {
    box-shadow: 0.04em 0.04em 0 0.02em currentcolor;
  }
  50% {
    box-shadow: -0.04em 0.04em 0 0.02em currentcolor;
  }
  75% {
    box-shadow: -0.04em -0.04em 0 0.02em currentcolor;
  }
  100% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
  }
}

/*===============================
----- TOTAL MEDIA
=================================*/

@media (max-width: 1400px) {
	.Banner .container {
		padding-left: 120px;
	}
}

@media (max-width: 1200px) {
	.Banner .container {
		padding-left: 60px;
	}
}
